* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  font-family: sans-serif, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Main App Container */
.mainContainer {
  background: #f7f7f7;
  max-width: "440px" !important;
  height: 100vh;
  padding: 0 !important;
  /* background: linear-gradient(180deg, rgba(241,241,241,1) 0%, rgba(246,246,246,1) 100%); */
}

/*  */
.MuiBottomNavigationAction-label {
  padding-top: 5px;
  color: #ABB5C1;
}

.MuiBottomNavigationAction-label.Mui-selected {
  color: #46aef7 !important;
}

.MuiPaper-root.MuiAppBar-root.MuiAppBar-positionFixed.MuiAppBar-colorPrimary.makeStyles-navBar-2.mui-fixed.MuiPaper-elevation0{
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
}

.MuiPaper-root.MuiAppBar-root.MuiAppBar-positionFixed.MuiAppBar-colorPrimary.makeStyles-navBar-2.mui-fixed.MuiPaper-elevation4{ 
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
}
